<div class="<%- site.file %>">
<div style="text-align: center">
  <img src="/<%- site.file %>/header.jpg" style="width: 80%" title="header.jpg fehlt im Ordner site/assets/<%- site.file %>"><br />
  <h1>Sightseeing recommendations</h1>
</div>

<% if (csvData) { %>
  <% let count = 0; %>
  <% for(let country in csvData) { %>
    <div style="clear: both">
      <h2 style="color: #555"><%- country %></h2>
      <% for(let category in csvData[country]) { %>
      <% count++; %>
    <div class="category">
      <div class="category-helper hide-on-print"><small>css for style.css:</small><br >
<small>nth-child(<%- count %>)</small><br />
<pre>.<%- site.file %> .category:nth-child(<%- count %>) {
  margin-top: 0px;
}</pre></div>
      <h2>
        <%- category %>
      </h2>
      <div style="clear: both"></div>
      <% for(let attraction in csvData[country][category]) { const att = csvData[country][category][attraction]; %>
        <div class="sight-item">
          <div class="sight-img" style="background-image:url('/<%- site.file %>/<%- att.Image %>')"></div>
          <div class="sight-text">
            <span class="sight-itemname"><%- att.Attraction %></span><br />
            <p class="sight-desc"><%- att.Description %></p>
            <a href="<%- att.Weblink %>" target="_blank"><%- att.Weblink.substring(0, 99) %><% if(att.Weblink.length > 99) { %>...<% } %></a>
          </div>
        </div>
        <% } %>
        <div style="clear: both"></div>
      </div>
    <% } %>
  <div>
  <% } %>
<% } %>
</div>