<!DOCTYPE html>
<html lang="en-US">
<head>
  <%- include('partials/head') %>
</head>
<body class="check">
  <script type="text/javascript">
  function toggleHelpers() {
    console.log('toggleHelpers', document.body.className);
    if (document.body.className.indexOf('hideHelpers') !== -1) {
      document.body.className = document.body.className.replace(/\hideHelpers\b/, '');
    } else {
      document.body.className += ' hideHelpers';
    }
    // document.body.className = 'foobar';
  };
  </script>
  <a class="helper-link" href="javascript:toggleHelpers();void(0);">Toggle helpers</a>


  <% const a4pageheight = 1457; %>
  <% for(let i=0; i<15; i++) { %>
    <div class="seitenmarker hide-on-print" style="top: <%- a4pageheight * i %>px"><div><span>Page <%- (i + 1) %></span></div></div>
  <% } %>

  <section class="main-content">
    
  <%- body %>

</section>
</body>
</html>
